<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header class="top">
    <h1><%= title %></h1>
    <ul class="type" id="type">
    	<li data-type="dot">Dot</li>
    	<li data-type="column" class="selected2">Column</li>
    	<li data-type="line">Line</li>
    </ul>
    <p>
    	Volumn: <input id="volume" type="range" min="0" max="100" value="60">
    </p>
  </header>
  <div class="bg"></div>
  <div class="left">
  	<ul id="list">
  	   <% music.forEach(function(name){ %>
          <li title="<%= name %>"><%= name %></li>
  		<% }) %>
  	</ul>
  </div>
  <div id="box" class="right"></div>


  <script type="text/javascript" src="/javascripts/musicInput.js"></script>
  <script type="text/javascript" src="/javascripts/musicVisuo.js"></script>
  <script type="text/javascript" src="/javascripts/canvasRect.js"></script>
  <script type="text/javascript" src="/javascripts/canvasCircle.js"></script>
  <script type="text/javascript" src="/javascripts/canvasLine.js"></script>
  </body>
</html>
